*{
	margin: 0;
    padding: 0;
}

/*PEC1*/

html{
    font-family: 'Bitter';
}

a{
    color:red;
}

footer a{
    color: #596c68;
}

nav{
    margin-right: auto;
    margin-left: auto;
    width: 40em;
}

header nav {
    padding-top: 0.5rem;
}

nav a{
    margin-top: 10px;
    text-decoration: none;
}

.in a{
    color:white;
}

header a:hover{
    font-size: 15px;
}

body{
    background-color:#e2dbc8 ;
    text-align: justify;
}

main{
    margin-right: auto;
    margin-left: auto;
    width: 40em;
    margin-top: 15px;
    margin-bottom: 15px;
}

#subtitulo{
    color: red;
    margin-bottom: 10px;
}

header{
    background-color: #252424;
	height: 40px;
}

nav{
    margin-right: auto;
    margin-left: auto;
    width: 40em;
}

footer{
    margin-left: 0;
    margin-right: 0;
    color: #596c68;
}

figcaption{
    text-align: right;
}

cite{
    color: black;
}

#uoc{
    background-color: #596c68;

}

footer div{
    width: 40em;
    margin: 0 auto;
}

#uoc *{
    margin-top: 15px;

}

#uoc p{
    float: right;
    color: black;
}

header li{
	display: inline;
	margin-right: 5px;
    font-size: 14px;
}

h1{
    color: #596c68;
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

h2{
    color: #596c68;
    font-size: 18px;
    margin-bottom: 15px;
}

blockquote{
    background-color: white;
    color: red;
    border-left:6px solid #596c68;;
    padding: 20px;
}

section{
    background-color: white;
    border-left:6px solid #596c68;
    padding: 20px;
}

section p{
    margin-top: 10px;
    color: #596c68;

}


/*BENEFICIOS*/
main ul > li{
    list-style-type: none;
    margin-bottom: 15px;
    
}

#Peliculas{
	list-style-image: url(../img/camara.png);
}

#Novelas{
	list-style-image: url(../img/libro-abierto.jpg);
}

#Guias{
	list-style-image: url(../img/guias.png);
	
}

#Guias ol,
#Peliculas ol,
#Novelas ol{
	list-style-type: decimal;
    list-style-image: none;
}

#ejemplo ol{
    margin-top: 15px;
    margin-bottom: 15px;
}

#ejemplo{
    margin-left: 60px;
}

.fa-expand-alt{
    color: red;
}

.fa-cube{
    color: blue;
}

.fa-thumbs-up{
    color: #ff1493;
}

.fa-microchip{
    color: #800080;
}
/*CENTROS*/

dd{
    color: grey;
    padding: 5px;
}

dd p{
    color: black;
}


dt{
    color: red;
    padding: 5px;
   
}

dl p{
    padding-bottom: 15px;
}

dt a{
    border-radius: 0.25em;
    background-color: rgb(238, 111, 96);
    color: white;
    float: right;
    padding: 10px;
    text-decoration: none;
}


main ul ol {
    margin-left: 4rem;
}

#lista ul li{
    margin-top: 15px;
    margin-bottom: 15px;
}

